body{
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 30px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.flash{
    background-color: white;
}
.user_flash{
    background-color: black;
}